@media only screen and (min-width: 1200px) {
    header {
        grid-template-columns: 120px 2fr 3fr 60px 60px;
    }

    header h1 {
        font-size: 24pt;
        margin-top: 30px;
    }

    #youtube-link, #youtube {
        grid-column: 4/5;
        margin-top: 16px;
    }

    #insta-link, #instagram {
        grid-column: 5/6;
        margin-top: 15px;
    }

    #menu {
        grid-column: 3/4;
    }

    .navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
        text-decoration-line: none;
        color: white;
        font-size: 18pt;
        margin-top: 35px;
	}

	.navigation li:first-child {
		display: none;
	}

    main {
        height: 1000px;
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .news {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .spotlight {
        grid-column: 3/4;
        grid-row: 1/4;
        
    }

    .spotlight p {
        height: 30%;
        width: 85%;
    }

    #sp3 {
        display: block;
    }
    #sp2 {
        margin-top: -10px;
        margin-left: 10px;
    }

    #sp3 {
        margin-top: -10px;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

}